v7x86/
unix-archive/
.claude
*.o
*.i
*.m
b.out
tests/build/
v7z8000/usr/sys/build/
v7z8000/usr/sys/hd.img
v7z8000/usr/sys/root.img
tools/root.img
tools/v7mkfs
tools/*.b
tools/*.az8
!tools/sigregs.az8
tools/*.bout
tools/*.out
tools/libc.a
tools/libc/*.b
tools/init
tools/echo
tools/cat
tools/sh
tools/sh_debug.bout
tools/libv7/
tools/libv7.a
tools/libctest
tools/root-libc.img
tools/preempttest
tools/signaltest
tools/root-preempt.img
tools/ttytest
tools/root-tty.img
!tools/splitpad.az8
tools/splittest
tools/idnext
tools/idnormal
tools/libcid
tools/signalid
tools/root-split.img
